{% if page.has_images? %}
  <div class="gallery">
      <div class="row">
          {% for img in page.images %}
            <div class="col-thumbnail col-xs-6 col-md-3">
              <a href="{{ img.src }}" rel="{{ page.urlname }}" title="{{ img.title }}" class="thumbnail fancybox">
                <img alt="{{ img.title }}" border="0" src="{{ img.thumb_src }}" class="img-responsive">
              </a>
            </div>
          {% endfor %}
      </div>     
  </div>
{% endif %}