{% if page.has_images? %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
    <!-- Wrapper for slides -->
    <!-- .carousel-inner -->
    <div class="carousel-inner" role="listbox">
      {% for img in page.images %}
      
        {% if page.first_image.id == img.id %}
          {% assign first_active = 'active' %}
        {% else %}
          {% assign first_active = '' %}
        {% endif %}
        
        <div class="item {{ first_active }}">
          <img alt="{{ img.title }}" border="0" src="{{ img.src }}"/>        
          <div class="carousel-caption">
            <h3>{{ img.title }}</h3>
            <p>{{img.id }} - {{page.first_image.id }}</p>          
          </div>
        </div>

      {% endfor %}
    </div>
    <!-- END .carousel-inner -->
    
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endif %}